/* <weight>: Use a value from 100 to 900
 <uniquifier>: Use a unique and descriptive class name*/

html {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
p {
    background-color: rgb(0, 58, 44); 
    color: rgb(0, 171, 142);
    text-align: center;
}
body {
    Background-image: url('Brand Assets/Main Logo/Digital (RGB)/00 Icon/Burnside Icon - black RGB.jpg');
    Background-size: 6%;
    padding: 00px 100px 100px 100px;
    background-repeat: no-repeat;
}
div.hero {
  Background-image: url('images/hero.jpg');
  background-repeat: no-repeat;
  Background-size: 100%;
  padding: 200px 0 200px 0;
  text-align: left;
  color: white;
}
h1.hero {
  Padding-left: 10px;
}